*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; 
}
/* Since the default root element font size in most browsers is 16px, using html { font-size: 62.5%; } makes the root element font size 10px, so everywhere else 1rem translates to 10px.
If I want something to be 175px, I'd use 17.5rem to size it and get the advantage of relative units, which helps a lot with responsive design. */

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: #A4AC86;
}
  